
@{
    Layout = null;
    ViewData["Title"] = "Stub";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container text-center">
    <p class="display-6 mx-5 my-5">Перенаправляем на онлайн кассу...</p>
</div>
