@model ExhibitionApp.Models.Exhibit

@{
    ViewData["Title"] = "CreateExhibit";
    ViewBag.Title = "Выберите тип экспоната";
}

<div class="container">
    <div class="text-center">
        <h3>Добавление нового экспоната</h3>
    </div>

    <hr/>
        
    <div>
        <a class="btn btn-outline-primary" asp-action="GetAllExhibits"><b>&#8592</b> Назад к списку экспонатов</a>
    </div>

    <form asp-action="CreateExhibit">
        <div class="row g-2 mt-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-12">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-sm-12">
                <label asp-for="AuthorsId" class="control-label"></label>
                <select asp-for="AuthorsId" class="form-control" asp-items=@ViewBag.Authors multiple></select>
                <span asp-validation-for="AuthorsId" class="text-danger"></span>
            </div>
            @*<table class="table">
                <tr>
                    <th>
                        <label asp-for="Authors" class="control-label"></label>
                    </th>
                    <th>
                        Удалить / Добавить
                    </th>
                </tr>
                @foreach (var a in authors)
                {
                    <tr>
                        <td>@a.Patronymic</td>
                        @if (Model.SelectedIds.Contains(a.))
                        {
                            <td>
                                <form asp-action="AddAuthor" method="post" asp-route-id="@a.Id">
                                    <input class="btn btn-default" type="submit" value="Удалить" />
                                </form>
                            </td>
                        } 
                        else
                        {
                            <td>
                                <form asp-action="RemoveAuthor" method="post" asp-route-id="@n.Id">
                                    <input class="btn btn-default" type="submit" value="Добавить" />
                                </form>
                            </td>
                        }
                    </tr>
                }
            </table>*@
            <div class="col-sm-6 pe-2">
                <label asp-for="CreationDate" class="control-label"></label>
                <input type="date" asp-for="CreationDate" class="form-control"/>
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="col-sm-6 ps-2">
                <label asp-for="ArrivalDate" class="control-label"></label>
                <input type="date" asp-for="ArrivalDate" class="form-control"/>
                <span asp-validation-for="ArrivalDate" class="text-danger"></span>
            </div>
            <div class="col-sm-12">
                <label asp-for="ExhibitTypeId" class="control-label"></label>
                <select asp-for="ExhibitTypeId" class="form-control" asp-items="ViewBag.ExhibitTypes"></select>
            </div>
            <div class="col-sm-6">
                <label asp-for="WarehouseId" class="control-label"></label>
                <select asp-for="WarehouseId" class="form-control" asp-items="ViewBag.Warehouses"></select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Добавить" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
