@model ExhibitionApp.Models.ExhibitViewModel

@{
    ViewData["Title"] = "CreateExhibit";
    ViewBag.Title = "Выберите тип экспоната";
}

<div class="container">
    <div class="text-center">
        <h3>Добавление нового экспоната</h3>
    </div>

    <hr/>
        
    <div>
        <a class="btn btn-outline-primary" asp-action="GetAllExhibits"><b>&#8592</b> Назад к списку экспонатов</a>
    </div>

    <form asp-action="CreateExhibit">
        <div class="row g-2 mt-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-sm-12">
                <label asp-for="Exhibit.Name" class="control-label"></label>
                <input asp-for="Exhibit.Name" class="form-control" />
                <span asp-validation-for="Exhibit.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedAuthorsId" class="control-label"></label><br/>
                <select id="Authors" asp-for="SelectedAuthorsId" class="form-control" asp-items=@ViewBag.Authors multiple></select>
                <span asp-validation-for="SelectedAuthorsId" class="text-danger"></span>
            </div>
            <div class="col-sm-6 pe-2">
                <label asp-for="Exhibit.CreationDate" class="control-label"></label>
                <input type="date" asp-for="Exhibit.CreationDate" class="form-control" />
                <span asp-validation-for="Exhibit.CreationDate" class="text-danger"></span>
            </div>
            <div class="col-sm-6 ps-2">
                <label asp-for="Exhibit.ArrivalDate" class="control-label"></label>
                <input type="date" asp-for="Exhibit.ArrivalDate" class="form-control" />
                <span asp-validation-for="Exhibit.ArrivalDate" class="text-danger"></span>
            </div>
            <div class="col-sm-12">
                <label asp-for="Exhibit.ExhibitTypeId" class="control-label"></label>
                <select asp-for="Exhibit.ExhibitTypeId" class="form-control" asp-items="ViewBag.ExhibitTypes"></select>
            </div>
            <div class="col-sm-6">
                <label asp-for="Exhibit.WarehouseId" class="control-label"></label>
                <select asp-for="Exhibit.WarehouseId" class="form-control" asp-items="ViewBag.Warehouses"></select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Добавить" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#Authors").multiselect({
            templates: {
                button: '<button type="button" class="multiselect dropdown-toggle btn btn-outline-secondary btn-sm" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
            },
        });
    });
</script>
