@model ExhibitionApp.Models.ExhibitViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h3>Обновление данных экспоната под номером: @ViewBag.ExhibitId</h3>
</div>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Exhibit.Id"/>
        <div class="form-group w-50 mx-auto mt-5">
            <label asp-for="Exhibit.Name" class="control-label"></label>
            <input asp-for="Exhibit.Name" class="form-control" />
            <span asp-validation-for="Exhibit.Name" class="text-danger"></span>
        </div>
        <div class="form-group w-50 mx-auto mt-3">
            <label asp-for="SelectedAuthorsId" class="control-label"></label><br />
            <select id="Authors" asp-for="SelectedAuthorsId" class="form-control" asp-items=@ViewBag.Authors multiple></select>
            <span asp-validation-for="SelectedAuthorsId" class="text-danger"></span>
        </div>
        <div class="form-group w-50 mx-auto mt-3">
            <label asp-for="Exhibit.CreationDate" class="control-label"></label>
            <input type="date" asp-for="Exhibit.CreationDate" class="form-control" value=@Model.Exhibit.CreationDate.ToString("O") />
            <span asp-validation-for="Exhibit.CreationDate" class="text-danger"></span>
        </div>
        <div class="form-group w-50 mx-auto mt-3">
            <label asp-for="Exhibit.ArrivalDate" class="control-label"></label>
            <input type="date" asp-for="Exhibit.ArrivalDate" class="form-control" value=@Model.Exhibit.ArrivalDate.ToString("O") />
            <span asp-validation-for="Exhibit.ArrivalDate" class="text-danger"></span>
        </div>

        <div class="form-group w-50 mx-auto mt-3">
            <label asp-for="Exhibit.ExhibitTypeId" class="control-label"></label>
            <select asp-for="Exhibit.ExhibitTypeId" class="form-control" asp-items="ViewBag.ExhibitTypes"></select>
            <span asp-validation-for="Exhibit.ExhibitTypeId" class="text-danger"></span>
        </div>
        <div class="form-group w-50 mx-auto mt-3">
            <label asp-for="Exhibit.WarehouseId" class="control-label"></label>
            <select asp-for="Exhibit.WarehouseId" class="form-control" asp-items="ViewBag.Warehouses"></select>
            <span asp-validation-for="Exhibit.WarehouseId" class="text-danger"></span>
        </div>
        <div class="form-group text-center mt-5">
            <input type="submit" value="Сохранить изменения" class="btn btn-primary"/>
        </div>
</form>

<div class="text-center mt-4">
    <a class="btn btn-outline-warning" asp-action="GetAllExhibits">Отмена</a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Authors").multiselect({
            templates: {
                button: '<button type="button" class="multiselect dropdown-toggle btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false"><span class="multiselect-selected-text"></span></button>',
            },
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
